<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Football rank predictor</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mi.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
    <form method="POST", action="{{url_for('home')}}">
      <div align="center">
        <img src="static/Football.png" width="50%" height="20%">
      </div>
          <div class="title">Football Rank predictor</div>
          <div class="input-box" style="padding: 10px;">
              <span>GOALS SCORED :</span>
               <input type="range" min="1" max="100" value="50" class="slider" id="myRange1" name="gf">
              <p>Value: <span id="demo1"></span></p>
              
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="input-box" style="padding: 10px;">
            <span>GOALS AGAINST :</span>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange2" name="ga">
            <p>Value: <span id="demo2"></span></p>
        </div>
        &nbsp;
          <div class="input-box button">
            <input type="submit" value="Predict">
          </div>
      </form>
    </div>
  </body>
  <script>
    var slider1 = document.getElementById("myRange1");
    var output1 = document.getElementById("demo1");
    output1.innerHTML = slider1.value;

    slider1.oninput = function() {
      output1.innerHTML = this.value;
    }

    var slider2 = document.getElementById("myRange2");
    var output2 = document.getElementById("demo2");
    output2.innerHTML = slider2.value;

    slider2.oninput = function() {
      output2.innerHTML = this.value;
    }
  </script>
</html>

